 /*Start: Universal Styling */
@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i';

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'roboto' !important;
}

a, a:hover {
  transition:all 0.4s ease 0s;
  -webkit-transition:all 0.4s ease 0s;
  -moz-transition:all 0.4s ease 0s;
  -ms-transition:all 0.4s ease 0s;
  -o-transition:all 0.4s ease 0s;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

html, body, section, div, span, aside, main, table, td, th, li, p, a, label, input, textarea, select, option {
  font-family:  'roboto', sans-serif !important;
}

a, a:hover, a:visited, a:focus, a:active {
  text-decoration: none;
}
.clear-padding{
  padding:0px;
}
.star-color {
  color:#F88317;
  font-size:15px;
}

.star-color:hover, .star-color:active, .star-color:focus {
  color:#F88317;
}

label {
  font-weight:normal;
  margin-bottom:0px;
  padding-left:0px !important;
}

textarea {
  resize:none;
}

.form-control::-moz-placeholder {
  color: #a9a9a9;
  font-size: 13px;
  opacity: 1;
}

.select2-container--bootstrap .select2-results > .select2-results__options {
  max-height: 255px !important;
}

.form-control::-webkit-placeholder {
  color: #a9a9a9;
  font-size: 13px;
  opacity: 1;
}

.form-control::-ms-placeholder {
  color: #a9a9a9;
  font-size: 13px;
  opacity: 1;
}

.form-control::-o-placeholder {
  color: #a9a9a9;
  font-size: 13px;
  opacity: 1;
}

/*Start: Top header*/

.nav-toggle {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 999999;
    padding: 10px 35px 16px 0px;
    cursor: pointer;
}
.nav-toggle:focus {
    outline: none;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer;
}
.nav-toggle span:before {
    top: -10px
}
.nav-toggle span:after {
    bottom: -10px
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.nav-toggle.active span {
    background-color: transparent
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0
}
.nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-toggle.active span:after {
    top: 10px;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}
.navicon {
    position: relative;
    height: 26px;
}
.navicon p {
    margin: 1px 50px 0 0
}
.navicon-fixed {
    position: fixed;
    top: 59px;
    right: 143px;
}

.top-header{
background-color:#0190de;
width:100%;
}

/* Overlay style */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #517090;
    z-index:1;
}

/* Menu style */
.overlay nav {
    position: relative;
    top: 45%;
    text-align: center;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.overlay ul li {
    display: block;
    float: left;
    margin-right: 20px;
}
.overlay ul li:last-child {
    margin-right: 0px
}
.overlay ul li i {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
}
.overlay ul li a {
    display: block;
    padding: 50px 0;
    min-width: 190px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: #345271;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.overlay ul li a:hover, .overlay ul li a:focus {
    border-color: #16B6EA;
    color: #16B6EA;
}

/* Effects */
.overlay-boxify {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-boxify.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.overlay-boxify nav ul li {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.overlay-boxify.open nav ul:first-child li:first-child {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.overlay-boxify.open nav ul:first-child li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.overlay-boxify.open nav ul:nth-child(2) li:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.overlay-boxify.open nav ul:nth-child(2) li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.overlay-boxify.open nav ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*End: top header*/


/*Start: bottom header*/
.slidebox-overlay1{
  background: #eb3c5d;
  color:#fff;
  height:300px;
}        
.slidebox-overlay2{
  background: #90a508;
  color:#fff;
  height:300px;
}        
.slidebox-overlay3{
  background: #297dbb;
  color:#fff;
  height:300px;
}        
.slidebox-overlay4{
  background: #dd8f13;
  color:#fff;
  height:300px;
}        


/*End: bottom header*/
#laundryhome{
  overflow:hidden;
}
.workimg_sec img {
  border-radius: 50%;
  border: 2px solid;
}
.servicesli ul{
  display:flex;
}
.lastnamebox{
  padding-right:0px;
}
.aboutus-rgtoverlay{
  background-image:url('../img/aboutus-overlay.jpg');
  background-size:cover;
  height:650px;
}
.services-rgtoverlay{
  background-image:url('../img/services-overlay.jpg');
  background-size:cover;
  height:650px;
}
.contact-rgtoverlay{
  background-image:url('../img/contactus.jpg');
  background-size:cover;
  height:650px;
}
.work-rgtoverlay{
  background-image:url('../img/work-overlay.jpg');
  background-size:cover;
  height:650px;
}